<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">
	<bean class="com.common.util.GlosseryEnumUtils" init-method="init">
		<property name="enumTypes">
			<map>
				<entry key="YesOrNo" value="com.common.util.model.YesOrNoEnum" />
				<entry key="SexEnum" value="com.common.util.model.SexEnum" />
				<entry key="SexEnum" value="com.fnb.domain.model.GoogleAuthenticatorType" />
			</map>
		</property>
	</bean>
	
</beans>