<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>训练计划</title>
		<link rel="stylesheet" type="text/css" href="/static/css/global.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/trainingplan.css" />
		<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/common_mobile.js" type="text/javascript" charset="utf-8"></script>
		<script src="/static/js/fun/treadmill/trainingplan.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="header">
			<div class="bg-container">
				<img class="bg" src="/static/img/course_header_bg.jpg" />
			</div>
			<div class="introduce">
				<div class="summary">
					<p class="slogan">
						跑出好身材
						<span class="line-vertical"></span>
					</p>
					<p class="schedule">初级: 共36课，已完成1课时</p>
				</div>
				<div class="button-container" onclick="location='/v1/trainingplan/replanning'">
					<a href="javascript:void(0);">重新规划</a>
				</div>
			</div>
		</div>
		<div class="plan-detail">
			<div class="plan-week">
				<div class="title">本周运动计划</div>
				<div class="course-item-container"">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done treadmill-hidden">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing treadmill-hidden">
								当前课程
							</div>
							<div class="todo ">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="course-item-container active">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done treadmill-hidden">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing">
								当前课程
							</div>
							<div class="todo treadmill-hidden">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="course-item-container">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done ">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing treadmill-hidden">
								当前课程
							</div>
							<div class="todo treadmill-hidden">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="plan-week">
				<div class="title">本周运动计划</div>
				<div class="course-item-container ">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done treadmill-hidden">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing treadmill-hidden">
								当前课程
							</div>
							<div class="todo ">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="course-item-container active">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done treadmill-hidden">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing">
								当前课程
							</div>
							<div class="todo treadmill-hidden">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="course-item-container">
					<div class="course-item">
						<div class="course-desc">
							<div class="desc-title">
								<span class="couse-num">第<label>1</label>课</span>
								<span class="course-name">步伐训练</span>
							</div>
							<div class="line-horizontal"></div>
							<div class="desc-content">
								<span class="time"><label>35</label>分钟</span>
								<span class="distance">大约<label>3.6</label>公里</span>
							</div>
						</div>
						<div class="course-status">
							<div class="done ">
								<i class="iconfont icon-done"></i>
							</div>
							<div class="doing treadmill-hidden">
								当前课程
							</div>
							<div class="todo treadmill-hidden">
								<i class="iconfont icon-todo"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="height-20"></div>
	</body>

</html>